@mixin bg-style($url) {
    background: url($url) center top no-repeat;
    background-size: 100% 100%;
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    display: block;
}

$yellow: #fbe3a2;

@font-face {
    font-family: "cool";
    src: url('../fonts/cool.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
@font-face {
    font-family: "hy";
    src: url('../fonts/hy.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

.cool {
    font-family:"cool" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hy {
    font-family:"hy" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
    position: relative;
    >div {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
    }
    &.common {
        .main {
            .top {
                background-image: url('../img/abg-common.png');
            }
        }
        .loading {
            background-image: url('../img/bbg-common.png');
        }
        .share {
            background-image: url('../img/cbg-common.png');
            .list {
                margin-top: 175px;
            }
            .code {
                text-align: left;
                margin-left: 30px;
            }
            .code-txt {
                left: 100%;
            }
        }
    }
}

.main {
    .top {
        position: relative;
        overflow: hidden;
        height: 700px;
        max-height: 56%;
        @include bg-style('../img/abg.png');
        background-size: cover;
        background-position: top center;
        .top-wrap {
            position: absolute;
            top: 40px;
            bottom: 40px;
            left: 56px;
            right: 56px;
            border-radius: 30px;
            background-color: rgb(255, 255, 255);
            opacity: 0.859;
            text-align: center;
            .top-title {
                font-family: 'cool';
                font-size: 83px;
                line-height: 1.4;
                color: #000;
                margin-top: 110px;
                margin-bottom: 30px;
                span {
                    color: #f00;
                }
            }
            img {
                position: absolute;
                bottom: 40px;
                left: 50%;
                width: 265px;
                max-height: 150px;
                margin-left: -133px;
            }
        }
    }
    .bottom {
        padding: 70px 70px 0;
        .form {
            font-size: 40px;
            color: #000;
            .form-group {
                border: 1PX solid #ccc;
                border-radius: 30px;
                padding: 0 40px;
                li {
                    padding: 20px 0;
                    div {
                        &:nth-child(1) {
                            float: left;
                            width: 100px;
                            font-size: 40px;
                        }
                        &:nth-child(2) {
                            margin-left: 200px;
                        }
                    }
                    &:nth-child(1) {
                        border-bottom: 1PX solid #ccc;
                    }
                }
            }
            input {
                border: none;
                vertical-align: sub;
                font-size: 40px;
                width: 100%;
                background: transparent;
            }
            span {
                border: 1px solid #ccc;
                border-radius: 30px;
                padding: 5px 50px;
                margin-right: 20px;
                color: #ccc;
                &.active {
                    color: #fff;
                    background-color: $yellow;
                    border-color: $yellow;
                }
            }
            .submit {
                border-radius: 25px;
                background-color: $yellow;
                line-height: 74px;
                margin-top: 35px;
                color: #fff;
                font-size: 40px;
                text-align: center;
                &.disable {
                    background-color: #ccc;
                }
            }
        }
    }
}

.loading {
    @include bg-style('../img/bbg.png');
    background-color: #d1eafe;
    background-size: cover;
    background-position: top center;
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .progress {
            width: 474px;
            height: 34px;
            border: 3px solid #fff;
            border-radius: 9px;
            span {
                display: block;
                height: 100%;
                width: 0%;
                background-color: $yellow;
            }
        }
        .dot {
            margin-top: 24px;
            font-family: "Arial";
            text-transform: uppercase;
            line-height: 1.33;
            font-size: 30px;
            color: #000000;
            text-align: center;
            span {
                display: inline-block; 
                min-width: 3px; 
                min-height: 3px;
                box-shadow: 10px 0 #000000, 20px 0 #000000, 30px 0 #000000, 40px 0 #000000;
                animation: dot 1.5s infinite step-start both;
            }
        }
    }
}

.share {
    @include bg-style('../img/cbg.png');
    background-color: #d1eafe;
    // background-size: cover;
    background-position: top center;
    &.transparent {
        opacity: 0.01;
    } 
    // background-repeat: repeat-y;
    .logo {
        text-align: center;
        margin: 20px 0;
        img {
            width: 389px;
            max-height: 134px;
        }
    }
    .list {
        margin: 0 40px;
        background-color: #f9fcff;
        border: 10px solid $yellow;
        border-radius: 30px;
        padding: 30px;
        .list-title {
            font-size: 50px;
            color: #000;
            // font-family: 'hy';
            // font-family: 'cool';
            text-align: center;
            span {
                color: #f00;
            }
            em {
                @include text-overflow();
                display: inline-block;
                vertical-align: middle;
                max-width: 6em;
                font-style: normal;
                position: relative;
                top: -4px;
            }
        }
        ul {
            font-size: 45px;
            color: #000;
            li {
                font-family: 'hy';
                // font-family: 'cool';
                border-bottom: 1PX solid #000;
                padding: 20px 0 10px;
            }
        }
    }
    .share-btn {
        border-radius: 25px;
        background-color: rgb(255, 0, 0);
        color: #fff;
        font-size: 28px;
        line-height: 65px;
        margin: 60px 40px 0;
        text-align: center;
    }
    .code {
        text-align: right;
        padding: 40px 10px 20px;
        .code-icon {
            position: relative;
            display: inline-block;
            height: 160px;
            .code-txt {
                position: absolute;
                bottom: 0;
                right: 100%;
                width: 500px;
                font-size: 21px;
                color: #000;
            }
            img {
                width: 140px;
                height: 140px;
                padding: 20px;
            }
        }
    }
}

.canvasImg {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    opacity: 0.01;
    // visibility: hidden;
}

@keyframes dot {
    20% { box-shadow: none; }                                  
    40% { box-shadow: 10px 0 currentColor; }                
    60% { box-shadow: 10px 0 currentColor, 20px 0 currentColor; }
    80% { box-shadow: 10px 0 currentColor, 20px 0 currentColor, 30px 0 currentColor; }
    100% { box-shadow: 10px 0 currentColor, 20px 0 currentColor, 30px 0 currentColor, 40px 0 currentColor; }
}